

:root {
    --header-color: #333333;
    --main-color: #faf6e6;
    --border-color: #efeee7;
    /*--border-color: #d8d8d4;*/
    --text-color: #333333;
    --largetext-color: #5aada5;
    /* width */
    /*--main-width: 1260px;*/
    --main-width: 960px;
    /**/
    /* specified color - pail green */
    --accent-color: rgba(90, 173, 165, 1.0);
    --accent-overlay-color: rgba(90, 173, 165, 0.95);
    --accent-button-color: #c5fbf6;
    /**/
    /* pesonal color - purple */
    /*--accent-color: rgb(177, 102, 235);
    --accent-overlay-color: rgba(177, 102, 235, 0.95);
    --accent-button-color: rgba(177, 102, 235, 0.09);*/
    /**/
}
