
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.completeheader {
    height: 100px;
    width: 100%;
    background: white;
    border-bottom: 2px solid #b0b0b0;
}


.myheader {
    height: 100px;
    display: block;
    margin: 0 auto;
    width: var(--main-width);
    border: 1px solid var(--border-color);
    position: relative;
    border: none;
}

.yourname {
    height: 97px;
    background: var(--accent-color);
    left: 0;
    position: absolute;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 2em;
    text-align: center;
    padding: 30px;
}

.nav {
    height: 95px;
    /*background: yellow;*/
    position: absolute;
    right: 0px;
    padding: 30px 0px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: var(--main-width);
    color: var(--text-color);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25em;
    border: 1px solid #c8c7c7;
    background-color: white;
}

body {
    background-image: url("noise-bg.png");
}

header {
    background-color: white;
    height: 70px;
    padding: 16px;
    padding-left: 33px; 
    color: var(--largetext-color);
    /*border: 1px solid var(--border-color);*/
    font-size: 1.6em;
}

aside {
    background-color: var(--main-color);
    width: 35%;
    height: 400px;
    padding: 15px;
    border: 1px solid var(--border-color);
}

main {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px;
    /*border: 1px solid var(--border-color);*/
}

.form-text {
    margin-left: 3%;
    width: 93%;
    padding-top: 2  0px;
    font-family: Tahoma;
    font-size: medium;
    border-top: 2px solid var(--border-color);
}

footer {
    background-color: #6c6b6b;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #b0b0b0;
    border-top: 8px solid var(--accent-color);
    text-align: center;
    font-family: Tahoma;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    /*background-color: red;*/
}

.btns a {
    background-color: white;
    color: #8f8f8f;
    padding: 8px 24px;
    cursor: pointer;
    float: left;
    height: 36px;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid #d8d8d4;
    font-family: Tahoma;
}

.btns a:first-child {
    /*border-right: none; /* Prevent double borders */
    border-left: none;
    /*background-color: yellow;*/
}

    /* Add a background color on hover */
    .btns a:hover {
        background-color: #c5fbf6;
        color: black;
    }

/* Clear floats (clearfix hack) */
.btns:after {
    content: "";
    clear: both;
    display: table;
}


