.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

.completeheader {
    height: 100px;
    width: 100%;
    background: blue;
}

.myheader {
    height: 100px;
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 3px solid yellow;
}

.yourname {
    height: 100px;
    background: green;
    left: 0;
    position: absolute;
    width: 300px;
}

.nav {
    height: 100px;
    background: yellow;
    position: absolute;
    width: 200px;

}

aside {
    float: left;
}

main {
    float: left;
}

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --header-color: #333333;
    --main-color: #efeee7;
    --border-color: #efeee7;
    /*--border-color: #d8d8d4;*/
    --text-color: #333333;
}

.container {
    margin: 0 auto;
    margin-top: 50px;
    width: 960px;
    max-width: 1600px;
    color: var(--text-color);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25em;
}

.bio-text {
    padding: 0px;
}

header {
    background-color: var(--header-color);
    height: 80px;
    padding: 17px;
    color: #eeeeee;
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 2em;
}

aside {
    background-color: var(--main-color);
    width: 35%;
    height: 400px;
    padding: 15px;
    border: 1px solid var(--border-color);
}

main {
    background-color: var(--main-color);
    width: 65%;
    height: 400px;
    padding: 15px;
    border: 1px solid var(--border-color);
}

footer {
    background-color: var(--main-color);
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid var(--border-color);
    color: #c6c6bc;
}

img.bio-image {
    float: left;
    margin: 10px;
}

a {
    color: #cc0a10;
}